<style>
    .approval-page {
        width: auto
    }
</style>

<div class="approval-page" style="width:100%;text-align:center;">
    <table style="margin: auto;" cellpadding="10">
        <thead>
            <tr>
                <td><b>Status</b></td>
                <td><b>Approver</b></td>
                <td><b>Approval Time</b></td>
            </tr>
        </thead>
        <tbody>
            {{#each approvals}}
                <tr>
                    {{#if this.approved}}
                        <td>
	                        &#x2705;
                        </td>
                        {{else}}
                        <td>
                            X
                        </td>
                    {{/if}}

                    <td>{{this.name}}</td>
                    {{#if this.timeapproved}}
                        <td>
                            {{this.timeapproved}}
                        </td>
                        {{else}}
                        <td>Not Approved</td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div>
        <form method="post">
            <input name="decision" type="submit" Value="Approve Changes" />
            <input name="decision" type="submit" Value="Decline Approval" />
        </form>
    </div>
</div>